@CHARSET "UTF-8";

body {
	background-image:url('logo.png');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:right; 
	font-family:"Verdana", Sans-serif;
}

.main{
	width: 80%;
	margin: 10% auto;
	align: center;
}


.welcome {
	width: 40%;
	margin: 0; padding: 0;
	float: left;
	font-weight: bolder;
        
}

.loginForm {
	margin: 0; padding: 0;
	float: right;
	border: 1px solid black;
        
}

.registrationForm{
	width: 40%;
	border: 1px solid black;
}

.titleBar{
	background-color:#193066;
	text-align: center;
	color: white;
	font-weight: bolder;
	font-variant: small-caps;
}

.message{
	text-align: center;
	width: 100%;
	position:absolute;
	bottom: 30%;
}

.footer{
	text-align: center;
	color: gray;
	font-size:x-small;
	position:absolute;
	bottom: 0;
	width: 100%
}